.get-started {
  background-color: #000;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border-radius: 8px;
  padding: 1em;
  position: relative;
  overflow: hidden;

  @media screen and (min-width: 768px) {
    flex-direction: row;
    padding: 3em;

    & :is(.content, .image) {
      width: 50%;
    }
  }

  & .bg-one {
    position: absolute;
    z-index: -1;
    top: -200px;
    left: -200px;
  }

  & .content {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    @media screen and (min-width: 768px) {
      align-items: flex-start;
    }

    & .section-heading {
      color: #fff;
      font-weight: 700;
      width: max-content;
      font-size: 2em;

      @media screen and (min-width: 768px) {
        font-size: 3em;
      }
    }

    & .detail {
      color: #ccc;
      margin-block: 1em;
      text-align: center;

      @media screen and (min-width: 768px) {
        text-align: left;
      }
    }

    & button {
      background-color: #fff;
      color: #000;
      font-size: 1em;
    }

    & .white-circle-layer {
      position: absolute;
      z-index: 0;
      width: 500px;
      left: -150px;
      bottom: -300px;
    }
  }

  & .image {
    width: 100%;

    & .phones {
      height: 500px;
      background: url(../../assets/bg-one.svg);
    }

    & .white-circle-layer {
      position: absolute;
      z-index: 0;
      width: 500px;
      right: -150px;
      top: -300px;
    }
  }
}
